@using WebAppYte.Models
@model TrungTamGanNhat
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <center>
        <h2>Chi tiết bệnh viện </h2>

        <div>
            @Html.Raw(Model.Mota)
        </div>
    </center>


